<!DOCTYPE html>
<html lang="en">
<head>
<title>Flex - Admin Panel</title>
<meta charset="utf-8"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="mobile-web-app-capable" content="yes"/>
<meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/jquery-ui.min.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/Chart.bundle.js"></script>
<script src="/js/lib/highcharts.js"></script>
<script src="/js/lib/heatmap.js"></script>
<script src="/js/lib/exporting.js"></script>
<script src="/socket.io/socket.io.js"></script>
</head>

<body>

<div class="jumbotron">
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" role="presentation"><a href="#question00" aria-controls="question" role="tab" data-toggle="tab">Selection</a></li>
            <!--<li class="" role="presentation"><a href="#question01" aria-controls="question" role="tab" data-toggle="tab">Question 1</a></li>
            <li class="" role="presentation"><a href="#question02" aria-controls="question" role="tab" data-toggle="tab">Question 2</a></li>
            <li class="" role="presentation"><a href="#question03" aria-controls="question" role="tab" data-toggle="tab">Question 3</a></li>-->

            <li class="" role="presentation"><a href="#packages" aria-controls="packages" role="tab" data-toggle="tab">Packages</a></li>
            <li class="" role="presentation"><a href="#heatmap" aria-controls="" role="tab" data-toggle="tab">Select Time</a></li>
            <li class="" role="presentation"><a href="#payment" aria-controls="" role="tab" data-toggle="tab">Payment Method</a></li>
            <li class="" role="presentation"><a href="#done" aria-controls="" role="tab" data-toggle="tab">Done</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="question00">
                <div class="container-fluid">
                    <div class="col-md-4" style="margin: auto;">
                        <div class="qa01" style="text-align: center">
                            <h3 class="q1">What would you like to do?</h3>
                            <div class="row">
                                <br/>
                                <br/>
                            </div>
                        </div>
                        <form class="form01" action="">
                            <div class="form-group">
                                <input type="checkbox" name="fancy-checkbox-default" id="stargaze-wrapper" autocomplete="off" />
                                <div class="[ btn-group ]">
                                    <label for="stargaze-wrapper" class="[ btn btn-default ]">
                                        <span class="[ glyphicon glyphicon-ok ]"></span>
                                        <span> </span>
                                    </label>
                                    <label for="stargaze-wrapper" class="[ btn btn-default active ]">
                                        Stargaze
                                    </label>
                                </div>

                                <input type="checkbox" name="fancy-checkbox-primary" id="hike-wrapper" autocomplete="off" />
                                <div class="[ btn-group ]">
                                    <label for="hike-wrapper" class="[ btn btn-primary ]">
                                        <span class="[ glyphicon glyphicon-ok ]"></span>
                                        <span> </span>
                                    </label>
                                    <label for="hike-wrapper" class="[ btn btn-default active ]">
                                        Hike
                                    </label>
                                </div>

                                <input type="checkbox" name="fancy-checkbox-primary" id="shop-wrapper" autocomplete="off" />
                                <div class="[ btn-group ]">
                                    <label for="shop-wrapper" class="[ btn btn-primary ]">
                                        <span class="[ glyphicon glyphicon-ok ]"></span>
                                        <span> </span>
                                    </label>
                                    <label for="shop-wrapper" class="[ btn btn-default active ]">
                                        Shop
                                    </label>
                                </div>

                                <input type="checkbox" name="fancy-checkbox-primary" id="history-wrapper" autocomplete="off" />
                                <div class="[ btn-group ]">
                                    <label for="history-wrapper" class="[ btn btn-primary ]">
                                        <span class="[ glyphicon glyphicon-ok ]"></span>
                                        <span> </span>
                                    </label>
                                    <label for="history-wrapper" class="[ btn btn-default active ]">
                                        Historical sites
                                    </label>
                                </div>

                                <input type="checkbox" name="fancy-checkbox-primary" id="boat-wrapper" autocomplete="off" />
                                <div class="[ btn-group ]">
                                    <label for="boat-wrapper" class="[ btn btn-primary ]">
                                        <span class="[ glyphicon glyphicon-ok ]"></span>
                                        <span> </span>
                                    </label>
                                    <label for="boat-wrapper" class="[ btn btn-default active ]">
                                        Boat excursion
                                    </label>
                                </div>

                                <input type="checkbox" name="fancy-checkbox-primary" id="food-wrapper" autocomplete="off" />
                                <div class="[ btn-group ]">
                                    <label for="food-wrapper" class="[ btn btn-primary ]">
                                        <span class="[ glyphicon glyphicon-ok ]"></span>
                                        <span> </span>
                                    </label>
                                    <label for="food-wrapper" class="[ btn btn-default active ]">
                                        Local food
                                    </label>
                                </div>

                            </div>
                            <button class="btn btn-checkbox-submit skip" type="submit">Next</button>
                        </form>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade in" id="question01">
                <div class="container-fluid">
                    <div class="col-md-4" style="margin: auto; text-align: center;">
                        <div class="qa01">
                            <h3 class="q1">Do you wish to see the famous statue of Buddha?</h3>
                            <div class="row">
                                <img src="/img/buddha.jpg">
                                <br/>
                                <br/>
                                <button class="btn btn-01 yes">Yes</button>
                                <button class="btn btn-01 no">No</button>
                                <button class="btn btn-01 skip">Skip</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade in" id="question02">
                <div class="container-fluid" style="padding-top: 10px;">
                    <div class="col-md-4" style="margin: auto; text-align: center;">
                        <div class="qa02">
                            <h3 class="q2">Do you want an adventurous time? (exploring the local attractions)</h3>
                            <img src="/img/village.jpg">
                            <br/>
                            <br/>
                            <div class="row">
                                <button class="btn btn-02 yes">Yes</button>
                                <button class="btn btn-02 no">No</button>
                                <button class="btn btn-02 skip">Skip</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade in" id="question03">
                <div class="container-fluid" style="padding-top: 10px;">
                    <div class="col-md-4" style="margin: auto; text-align: center;">
                        <div class="qa03">
                            <h3 class="q3">Are you interested in the least expensive package?</h3>
                            <div class="row">
                                <img src="/img/car.jpg">
                                <br/>
                                <br/>
                                <button class="btn btn-03 yes">Yes</button>
                                <button class="btn btn-03 no">No</button>
                                <button class="btn btn-03 skip">Skip</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="packages">
                <div class="container-fluid" style="padding-top: 10px;">
                    <div class="col-md-4" style="margin: auto;">
                        <h5>Packages Tailored for You</h5>

                        <div class="package_container standard">
                            <div class="package_summary row">
                                <div class="col-xs-3 img_containeCrystal r">
                                    <img src="../img/village.jpg" class="package_image">
                                </div>
                                <div class="col-xs-9 package_pricing">
                                    <span class="package_header">360 Fishing Village Insight Tour</span>
                                    <hr>
                                    <i class="package_icon">Adult:</i>&nbsp;&nbsp;&nbsp;HK$$390<br>
                                    <i class="package_icon">Child:</i>&nbsp;&nbsp;&nbsp;HK$320<br>
                                    <i class="package_icon">Senior:</i>&nbsp;&nbsp;&nbsp;-
                                </div>
                            </div>
                            <br>
                            <div class="col-xs-12 choices">
                                <button class="btn" data-toggle="collapse" data-target="#desc01">More Details</button>
                                <div class="button availability">Availability</div>
                            </div>
                            <div class="collapse">
                                <div class="package_details row" style="display: none;">
                                    <p>Schedule</p>
                                    <p><strong>Weekdays:</strong> 11:00 - 17:00</p>
                                    <p><strong>Weekends and Holidays:</strong> 10:00 - 15:30</p>
                                </div>
                            </div>

                            <button style="visibility: hidden">Collapsible</button>
                            <div id="desc01" class="collapse">
                                Tour fee includes single-trip cable car ticket from Tung Chung to Ngong Ping, air-conditioned sightseeing coach transfer to Tai O Fishing Village, Tai O boat excursion, Traditional stilt house visitation, free tasting of Tai O local gourmets , guided services and one-way ferry ticket from Tai O to Tung Chung.
                            </div>
                        </div>

                        <div class="package_container standard">
                            <div class="package_summary row">
                                <div class="col-xs-3 img_container">
                                    <img src="../img/tour.jpg" class="package_image">
                                </div>
                                <div class="col-xs-9 package_pricing">
                                    <span class="package_header">360 Holiday Guided Tour</span>
                                    <hr>
                                    <i class="package_icon">Adult:</i>&nbsp;&nbsp;&nbsp;HK$400<br>
                                    <i class="package_icon">Child:</i>&nbsp;&nbsp;&nbsp;HK$300<br>
                                    <i class="package_icon">Senior:</i>&nbsp;&nbsp;&nbsp;HK$200
                                </div>
                            </div>
                            <br>
                            <div class="col-xs-12 choices">
                                <button class="btn" data-toggle="collapse" data-target="#desc02">More Details</button>
                                <div class="button availability">Availability</div>
                            </div>
                            <div class="collapse">
                                <div class="package_details row" style="display: none;">
                                    <p>Schedule</p>
                                    <p><strong>Weekdays:</strong> 11:00 - 17:00</p>
                                    <p><strong>Weekends and Holidays:</strong> 10:00 - 15:30</p>
                                </div>
                            </div>

                            <button style="visibility: hidden">Collapsible</button>
                            <div id="desc02" class="collapse">

                                Includes: Ngong Ping Village, Po Lin Monastery, Big Buddha, Tai O Fishing Village with boat excursion, Ngong Ping Piazza
                                Book Now
                            </div>
                        </div>

                        <div class="package_container standard">
                            <div class="package_summary row">
                                <div class="col-xs-3 img_container">
                                    <img src="../img/car.jpg" class="package_image">
                                </div>
                                <div class="col-xs-9 package_pricing">
                                    <span class="package_header">Base Cable Car Experience</span>
                                    <hr>
                                    <i class="package_icon">Adult:</i>&nbsp;&nbsp;&nbsp;HK$400<br>
                                    <i class="package_icon">Child:</i>&nbsp;&nbsp;&nbsp;HK$300<br>
                                    <i class="package_icon">Senior:</i>&nbsp;&nbsp;&nbsp;HK$200
                                </div>
                            </div>
                            <div class="package_details row" style="display: none;">
                                <p>Schedule</p>
                                <p><strong>Weekdays:</strong> 11:00 - 17:00</p>
                                <p><strong>Weekends and Holidays:</strong> 10:00 - 15:30</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                            <br>
                            <div class="col-xs-12 choices">
                                <button class="btn" data-toggle="collapse" data-target="#desc03">More Details</button>
                                <div class="button availability">Availability</div>
                            </div>
                            <div class="collapse">
                                <div class="package_details row" style="display: none;">
                                    <p>Schedule</p>
                                    <p><strong>Weekdays:</strong> 11:00 - 17:00</p>
                                    <p><strong>Weekends and Holidays:</strong> 10:00 - 15:30</p>
                                </div>
                            </div>

                            <button style="visibility: hidden">Collapsible</button>
                            <div id="desc03" class="collapse">
                                A standard ticket including a return journey with the cable car.
                            </div>
                        </div>

                        <!--<div class="filters">
                            <div class="row">
                                <div class="col-xs-4 num_people">Adult:<input class="people" type="number" name="adult"></div>
                                <div class="col-xs-4 num_people">Child:<input class="people" type="number" name="child"></div>
                                <div class="col-xs-4 num_people">Senior:<input class="people" type=" num_peoplenumber" name="senior"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 num_people">Cabin Type:</div>
                                <div class="col-xs-4 num_people"><input type="radio" name="cabin" value="standard" checked>Standard</div>
                                <div class="col-xs-4 num_people"><input type="radio" name="cabin" value="crystal fade">Crystal</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 num_people">Date</div>
                                <div class="col-xs-4 num_people"><input class="date" type="date" name="date"></div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="heatmap">
                <div id="heatmap-container"></div>
            </div>

            <!-- Payment Screen -->
            <div role="tabpanel" class="tab-pane fade" id="payment">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="panel panel-default credit-card-box">
                                <div class="panel-heading display-table" >
                                    <div class="row display-tr" >
                                        <h3 class="panel-title display-td" >Payment Details</h3>
                                        <div class="display-td" >
                                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="cardNumber">CARD NUMBER</label>
                                                    <div class="input-group">
                                                        <input
                                                                type="tel"
                                                                class="form-control"
                                                                name="cardNumber"
                                                                placeholder="Valid Card Number"
                                                                autocomplete="cc-number"
                                                                required autofocus
                                                        />
                                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7 col-md-7">
                                                <div class="form-group">
                                                    <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                                    <input
                                                            type="tel"
                                                            class="form-control"
                                                            name="cardExpiry"
                                                            placeholder="MM / YY"
                                                            autocomplete="cc-exp"
                                                            required
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-xs-5 col-md-5 pull-right">
                                                <div class="form-group">
                                                    <label for="cardCVC">CV CODE</label>
                                                    <input
                                                            type="tel"
                                                            class="form-control"
                                                            name="cardCVC"
                                                            placeholder="CVC"
                                                            autocomplete="cc-csc"
                                                            required
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="couponCode">COUPON CODE</label>
                                                    <input type="text" class="form-control" name="couponCode" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button class="subscribe btn btn-success btn-lg btn-block btn-book" type="button">Book</button>
                                            </div>
                                        </div>
                                        <div class="row" style="display:none;">
                                            <div class="col-xs-12">
                                                <p class="payment-errors"></p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div role="tabpanel" class="tab-pane fade" id="done">
                <h4><b>Ticket Booked!</b></h4>
                <img src="/img/qr.png">
                <h4>Booking information:</h4>
                <div class="booking-info">
                    <h5>360 Holiday Guided Tour</h5>
                    <h5>1 Adult</h5>
                    <h5>Monday 5th June 16:00</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/heatmap.js"></script>
<script src="/js/index.js"></script>
</body>
</html>