<!DOCTYPE html>
<html lang="en">
<title>Flex - Admin Panel</title>
<meta charset="utf-8"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="mobile-web-app-capable" content="yes"/>

<link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,700,700italic,500italic' rel='stylesheet' type='text/css'>
<link href="/css/lib/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/main.css">

<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/jquery-ui.min.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/Chart.bundle.js"></script>
<script src="/js/lib/highcharts.js"></script>
<script src="/js/lib/heatmap.js"></script>
<script src="/js/lib/exporting.js"></script>
<script src="/socket.io/socket.io.js"></script>
</head>

<body>

<div class="jumbotron">
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"   role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Plan Visit</a></li>
            <li class="" role="presentation"><a href="#first" id="end-tab" aria-controls="" role="tab" data-toggle="tab">Select Time</a></li>
            <li class="" role="presentation"><a href="#second" aria-controls="" role="tab" data-toggle="tab">Payment Method</a></li>
            <li class="" role="presentation"><a href="#third" aria-controls="" role="tab" data-toggle="tab">Done</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">
                <div class="container-fluid" style="padding-top: 10px;">
                    <div class="col-md-4" style="margin: auto;">
                        <div class="row">
                            <div class="col-xs-4">Adult:<input class="people" type="number" name="adult"></div>
                            <div class="col-xs-4">Child:<input class="people" type="number" name="child"></div>
                            <div class="col-xs-4">Senior:<input class="people" type="number" name="senior"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">Cabin Type:&nbsp;</div>
                            <div class="col-xs-4"><input type="radio" name="cabin" value="standard" checked>Standard</div>
                            <div class="col-xs-4"><input type="radio" name="cabin" value="crystal fade">Crystal</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">Date</div>
                            <div class="col-xs-4"><input type="date" name="date"></div>
                        </div>
                        <hr>
                        <h5>Basic</h5>
                        <div class="package_container standard">
                            <div class="package_summary row">
                                <div class="col-xs-3 img_container">
                                    <img src="../img/dummy.jpg" class="package_image">
                                </div>
                                <div class="col-xs-9 package_pricing">
                                    <span class="package_header">Standard Package Name</span>
                                    <hr>
                                    <i class="package_icon">Adult:</i>&nbsp;HK$400<br>
                                    <i class="package_icon">Child:</i>&nbsp;HK$300<br>
                                    <i class="package_icon">Senior:</i>&nbsp;HK$200
                                </div>
                                <div class="col-xs-12 choices">
                                    <div class="button expand">More Details</div>
                                    <div class="button expand">Check Availability</div>
                                </div>
                            </div>
                            <div class="package_details row" style="display: none;">
                                <p>Schedule</p>
                                <p><strong>Weekdays:</strong> 11:00 - 17:00</p>
                                <p><strong>Weekends and Holidays:</strong> 10:00 - 15:30</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                        <div class="package_container crystal fade">
                            <div class="package_summary row">
                                <div class="col-xs-3 img_container">
                                    <img src="../img/dummy.jpg" class="package_image">
                                </div>
                                <div class="col-xs-9 package_pricing">
                                    <span class="package_header">Crystal Package Name</span>
                                    <hr>
                                    <i class="package_icon">Adult:</i>&nbsp;HK$400<br>
                                    <i class="package_icon">Child:</i>&nbsp;HK$300<br>
                                    <i class="package_icon">Senior:</i>&nbsp;HK$200
                                </div>
                                <div class="col-xs-12 choices">
                                    <div class="button expand">More Details</div>
                                    <div class="button expand">Check Availability</div>
                                </div>
                            </div>
                            <div class="package_details row" style="display: none;">
                                <p>Schedule</p>
                                <p><strong>Weekdays:</strong> 11:00 - 17:00</p>
                                <p><strong>Weekends and Holidays:</strong> 10:00 - 15:30</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                        <hr>
                        <h5>Packages</h5>
                        <div class="package_container standard">
                            <div class="package_summary row">
                                <div class="col-xs-3 img_containeCrystal r">
                                    <img src="../img/dummy.jpg" class="package_image">
                                </div>
                                <div class="col-xs-9 package_pricing">
                                    <span class="package_header">Standard Package Name</span>
                                    <hr>
                                    <i class="package_icon">Adult:</i>&nbsp;HK$400<br>
                                    <i class="package_icon">Child:</i>&nbsp;HK$300<br>
                                    <i class="package_icon">Senior:</i>&nbsp;HK$200
                                </div>
                                <div class="col-xs-12 choices">
                                    <div class="button expand">More Details</div>
                                    <div class="button expand">Check Availability</div>
                                </div>
                            </div>
                            <div class="package_details row" style="display: none;">
                                <p>Schedule</p>
                                <p><strong>Weekdays:</strong> 11:00 - 17:00</p>
                                <p><strong>Weekends and Holidays:</strong> 10:00 - 15:30</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                        <div class="package_container crystal fade">
                            <div class="package_summary choices row">
                                <div class="col-xs-3 img_container">
                                    <img src="../img/dummy.jpg" class="package_image">
                                </div>
                                <div class="col-xs-9 package_pricing">
                                    <span class="package_header">Crystal Package Name</span>
                                    <hr>
                                    <i class="package_icon choices">Adult:</i>&nbsp;HK$400<br>
                                    <i class="package_icon">Child:</i>&nbsp;HK$300<br>
                                    <i class="package_icon">Senior:</i>&nbsp;HK$200
                                </div>
                                <div class="col-xs-12 choices">
                                    <div class="button expand">More Details</div>
                                    <div class="button expand">Check Availability</div>
                                </div>
                            </div>
                            <div class="package_details row" style="display: none;">
                                <p>Schedule</p>
                                <p><strong>Weekdays:</strong> 11:00 - 17:00</p>
                                <p><strong>Weekends and Holidays:</strong> 10:00 - 15:30</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                        <div class="package_container standard">
                            <div class="package_summary row">
                                <div class="col-xs-3 img_container">
                                    <img src="../img/dummy.jpg" class="package_image">
                                </div>
                                <div class="col-xs-9 package_pricing">
                                    <span class="package_header">Standard Package Name</span>
                                    <hr>
                                    <i class="package_icon">Adult:</i>&nbsp;HK$400<br>
                                    <i class="package_icon">Child:</i>&nbsp;HK$300<br>
                                    <i class="package_icon">Senior:</i>&nbsp;HK$200
                                </div>
                                <div class="col-xs-12 choices">
                                    <div class="button expand">More Details</div>
                                    <div class="button expand">Check Availability</div>
                                </div>
                            </div>
                            <div class="package_details row" style="display: none;">
                                <p>Schedule</p>
                                <p><strong>Weekdays:</strong> 11:00 - 17:00</p>
                                <p><strong>Weekends and Holidays:</strong> 10:00 - 15:30</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                        <div class="package_container crystal fade">
                            <div class="package_summary row">
                                <div class="col-xs-3 img_container">
                                    <img src="../img/dummy.jpg" class="package_image">
                                </div>
                                <div class="col-xs-9 package_pricing">
                                    <span class="package_header">Crystal Package Name</span>
                                    <hr>
                                    <i class="package_icon">Adult:</i>&nbsp;HK$400<br>
                                    <i class="package_icon">Child:</i>&nbsp;HK$300<br>
                                    <i class="package_icon">Senior:</i>&nbsp;HK$200
                                </div>
                                <div class="col-xs-12 choices">
                                    <div class="button expand">More Details</div>
                                    <div class="button expand">Check Availability</div>
                                </div>
                            </div>
                            <div class="package_details row" style="display: none;">
                                <p>Schedule</p>
                                <p><strong>Weekdays:</strong> 11:00 - 17:00</p>
                                <p><strong>Weekends and Holidays:</strong> 10:00 - 15:30</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                        <div class="package_container standard">
                            <div class="package_summary row">
                                <div class="col-xs-3 img_container">
                                    <img src="../img/dummy.jpg" class="package_image">
                                </div>
                                <div class="col-xs-9 package_pricing">
                                    <span class="package_header">Standard Package Name</span>
                                    <hr>
                                    <i class="package_icon">Adult:</i>&nbsp;HK$400<br>
                                    <i class="package_icon">Child:</i>&nbsp;HK$300<br>
                                    <i class="package_icon">Senior:</i>&nbsp;HK$200
                                </div>
                                <div class="col-xs-12 choices">
                                    <div class="button expand">More Details</div>
                                    <div class="button expand">Check Availability</div>
                                </div>
                            </div>
                            <div class="package_details row" style="display: none;">
                                <p>Schedule</p>
                                <p><strong>Weekdays:</strong> 11:00 - 17:00</p>
                                <p><strong>Weekends and Holidays:</strong> 10:00 - 15:30</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                        <div class="package_container crystal fade">
                            <div class="package_summary row">
                                <div class="col-xs-3 img_container">
                                    <img src="../img/dummy.jpg" class="package_image">
                                </div>
                                <div class="col-xs-9 package_pricing">
                                    <span class="package_header">Crystal Package Name</span>
                                    <hr>
                                    <i class="package_icon">Adult:</i>&nbsp;HK$400<br>
                                    <i class="package_icon">Child:</i>&nbsp;HK$300<br>
                                    <i class="package_icon">Senior:</i>&nbsp;HK$200
                                </div>
                                <div class="col-xs-12 choices">
                                    <div class="button expand">More Details</div>
                                    <div class="button expand">Check Availability</div>
                                </div>
                            </div>
                            <div class="package_details row" style="display: none;">
                                <p>Schedule</p>
                                <p><strong>Weekdays:</strong> 11:00 - 17:00</p>
                                <p><strong>Weekends and Holidays:</strong> 10:00 - 15:30</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn end-booking-btn">End Bookings and Allocate Seats</button>
                <br>
                <button class="btn reset-btn">Reset Bookings</button>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="first">
                <div id="highcharts-container" style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="second"><canvas id="second-chart"></canvas></div>
            <div role="tabpanel" class="tab-pane fade" id="third"><canvas id="third-chart"></canvas></div>
        </div>
    </div>
</div>

<script src="/js/heatmap.js"></script>
<script>
    jQuery(function(){
        $('input[name="cabin"]').change(function(){
            $('.crystal').toggleClass('fade');
            $('.standard').toggleClass('fade');
        });

        $('.expand').click(function(){
            $(this).parent().parent().next().slideToggle("fast");
        })
    })
</script>
</body>
</html>